h1{
    text-align: center;
}


#centrar{

    text-align: center;
}

#centrar1{

    text-align: center;
}



#contenedor6{

    text-align: center;
    margin-top: 0%;

}

#contenedor6 p{

    text-align: center;
}